<!DOCTYPE html>
<html lang="en">
<head>
  <title>siw-calciatori2</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initials-scale=1.0">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/formAdd.css">
  <link rel="icon" href="/images/favicon.ico">
</head>
<body>
<header></header>
<nav>
  <img src="/images/lupetto.jpg">
  <h2 class="logo">Eroi AS Roma</h2>
  <ul>
    <li><a href="/" class="sub">Home</a></li>
    <li><a href="/players" class="sub">Players</a></li>
    <li><a href="/clubs" class="sub">Clubs</a></li>
  </ul>
  <div id="lo">
    <div th:if="${userDetails}">
      <b th:text="${userDetails.username}" class="username"></b>
      <button type="button"><a href="/logout" class="log">Logout</a></button>
    </div>
    <div th:unless="${userDetails}">
      <button type="button"><a href="/login" class="log">Login</a></button>
    </div>
  </div>
</nav>
<footer></footer>
<section>
  <div class="form-box">
    <div class="form-value">
      <form th:action="@{/admin/uploadClub}" method="post" enctype="multipart/form-data" th:object="${club}" class="form">
        <span class="title">New Club</span>
        <div th:if="${#fields.hasGlobalErrors()}">
          <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
        </div>

        <input required type="text" th:field="${club.name}" placeholder="Name" class="form--input">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{club.name}"></span>

        <input required type="number" th:field="${club.foundationYear}" placeholder="foundationYear" class="form--input">
        <span th:if="${#fields.hasErrors('foundationYear')}" th:errors="*{club.foundationYear}"></span>

        <span><input required type="file" name="file"></span>
        <button type="submit" class="cssbuttons-io-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"></path></svg>
          <span>Add Club</span>
        </button>
      </form>
    </div>
  </div>
</section>
</body>
</html>