<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Siw-calciatori2</title>
  <meta name="viewport" content="width=device-width,initials-scale=1.0">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="icon" href="/images/favicon.ico">
</head>
<body>
<nav>
  <h2 class="logo">SiwCalciatori<span class="vendetta"> Vendetta</span></h2>
  <ul>
    <li><a href="/players" class="sub">Players</a></li>
    <li><a href="/clubs" class="sub">Clubs</a></li>
  </ul>
  <div th:if="${userDetails}">
    <b th:text="${userDetails.username}" class="username"></b>
    <button type="button"><a href="/logout" class="log">Logout</a></button>
  </div>
  <div th:unless="${userDetails}">
    <button type="button"><a href="/login" class="log">Login</a></button>
  </div>
</nav>
<div class="hero">
  <div class="presentation">
    <h1>Raccolta di giocatori e squadre</h1>
    <p>Piattaforma dedicata alla raccolta di giocatori e squadre, offrendo agli utenti un'ampia gamma di contenuti dei giocatori più caratteristici dell'AS Roma. Gli utenti potranno scoprire informazioni dettagliate sui giocatori, come statistiche, recensioni e valutazioni, nonché informazioni sulle squadre coinvolte nella loro carriera.</p>
  </div>
</div>
</body>
</html>