<!DOCTYPE html>
<html lang="en">

<head>
  <title>Siw-calciatori2</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initials-scale=1.0">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/player.css">
  <link rel="icon" href="/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto Condensed" rel="stylesheet">
</head>

<body>
<header></header>
<nav>
  <img src="/images/lupetto.jpg">
  <h2 class="logo">Eroi AS Roma</h2>
  <ul>
    <li><a href="/" class="sub">Home</a></li>
    <li><a href="/players" class="sub">Players</a></li>
    <li><a href="/clubs" class="sub">Clubs</a></li>
  </ul>
  <div id="lo">
      <div th:if="${userDetails}">
        <b th:text="${userDetails.username}" class="username"></b>
        <button type="button"><a href="/logout" class="log">Logout</a></button>
      </div>
      <div th:unless="${userDetails}">
        <button type="button"><a href="/login" class="log">Login</a></button>
      </div>
  </div>
</nav>
<footer></footer>
<div th:if="${player}" class="content">
  <div class="card">
    <img th:src="@{'/display/image/' + ${player.foto.id}}">
    <!--<img th:src="@{'data:image/*;base64,'+${player.image.base64Image}}">-->
  </div>
  <div class="player-content">
    <h1 th:text="${player.name} + ' ' + ${player.surname} + ', detto ' + ${player.nickname}">Francesco Totti, detto ER PUPONE</h1>
    <p th:text="${player.year}">Player Year Of Birth</p>
    <button th:if="${role != null && role == 'ADMIN'}" class="update-player">
      <a th:href="'/admin/manage/' + ${player.id}" class="log">Update Player</a>
    </button>
    <div class="player-clubs-content">
      <h1>Clubs:</h1>
      <div th:if="${player.clubs}">
        <div th:if="${player.clubs.isEmpty()}">
          Nessun club oltre alla Roma nella carriera di questo eroe.
        </div>
        <div th:unless="${player.clubs.isEmpty()}">

          <div class="clubs">
            <ul th:each="club : ${player.clubs}">
              <div class="cards">
                <a th:href="@{'/clubs' + '/' + ${club.id}}">
                  <!--<img th:src="@{'data:image/*;base64,'+${club.logo.base64Image}}">-->
                  <img th:src="@{'/display/image/' + ${club.logo.id}}">
                  <div class="club-info">
                    <h4 th:text="${club.name}">.</h4>
                  </div>
                </a>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="player-review-content">
  <div class="personal-review" th:unless="${hasComment}">
    <form th:action="@{'/user/uploadReview/' + ${player.id}}" method="post" th:object="${review}" class="form">
      <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
      </div>
      <input required type="text" placeholder="Title" name="title" th:field="${review.title}" class="form--input1">
      <span th:if="${#fields.hasErrors('title')}" th:errors="*{review.title}"></span>
      <input required type="text" placeholder="Text" name="text" th:field="${review.text}" class="form--input2">
      <span th:if="${#fields.hasErrors('text')}" th:errors="*{review.text}"></span>
      <div class="review-options">
        <input required type="number" min="1" max="5" name="rating" th:field="${review.rating}" id="animated-input">
        <span th:if="${#fields.hasErrors('rating')}" th:errors="*{review.rating}"></span>
        <button class="comment-button" type="submit">Commenta</button>
      </div>
    </form>
  </div>
</div>
<div>
  <div th:if="${player.reviews}">
    <div th:if="${player.reviews.isEmpty()}">
      <p>non ci sono review sul giocatore</p>
    </div>
    <div th:unless="${player.reviews.isEmpty()}" class="other-review">
      <h1 style="padding-top: 2%; font-size: 40px;">Recensioni</h1>
      <ul th:each="rev : ${player.reviews}">
        <div class="review">
          <div class="header">
            <h1 th:text="${rev.title}">.</h1>
            <h1 th:text="${rev.author}">.</h1>
          </div>
          <p th:text="${rev.text}">.</p>
          <div class="bottom-label">
            <p th:text="'Rating: ' + ${rev.rating}">.</p>
            <button th:if="${rev.author == userDetails.username}" class="update-review">
              <a th:href="'/user/modifyingReview/' + ${player.id} + '/' + ${rev.id}" class="log">
                Modifica
              </a>
            </button>
            <button th:if="${role != null && role == 'ADMIN'}" class="delete-review">
              <a th:href="'/admin/deleteReview/' + ${player.id} + '/' + ${rev.id}" class="log">
                Delete
              </a>
            </button>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>

</body>

</html>